*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Sora;
    src: url(../assets/fonts/Sora/Sora-VariableFont_wght.ttf)
}
@font-face{
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}
:root{
    --Colorbg: #EFF8FF;
    --Colorfontwhite: #FFFFFF;
    --Colorbutton: #0F9AFE;
    --Colorfonth: #6E7275;
    --Colorfontm: #293145;
    --FontSora: Sora;
    --FontInter: Inter;
}


.container-grid{
    margin: 0 auto;
    max-width: 1000px;
}
.header-flex{
    display: flex;
    align-items: center;
        
}
.header-flex>img{
    height: 30px;
    width: 100px;
}
.nav-flex>ul{
    display: flex;
    height: 50px;
    width: 800px;
    justify-content:flex-end;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
.nav-flex>ul>li>a{
    text-decoration: none;
    font-family: var(--FontInter);
    font-size: 16px;
    color: var(--Colorfonth);
}
.main-card1{
    background-color: var(--Colorbg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content>article{
    width: 50%;
    height: 90%;
    
}

.content>article>h1{
    font-size: 38px;
    font-family: var(--FontSora);
}
.content>article>button{
    margin-top: 50px;
    background-color: var(--Colorbutton);
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
    width: 100px;
    height: 30px;
    font-family: var(--FontInter);
    font-size: 14px;
}

.main-card2>h1{
    font-family: var(--FontSora);
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
}
.conj-divs{
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.div-conections{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-conections>img{
    height: 60px;
    width: 60px;
  
}
.div-conections>h4{
    font-family: var(--FontSora);
    font-size: 16px;
    color: var(--Colorfontm);
    text-align: center;
    padding-top: 15px;
}
.div-conections>p{
    font-family: var(--FontInter);
    font-size: 14px;
    color: var(--Colorfonth);
    text-align: center;
    padding-top: 15px;
}
.div-gratuito{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-gratuito>img{
    height: 60px;
    width: 60px;
}
.div-gratuito>h4{
    font-family: var(--FontSora);
    font-size: 16px;
    color: var(--Colorfontm);
    text-align: center;
    padding-top: 15px;
}
.div-gratuito>p{
    font-family: var(--FontInter);
    font-size: 14px;
    color: var(--Colorfonth);
    text-align: center;
    padding-top: 15px;
}
.div-compartilhamento{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.div-compartilhamento>img{
    height: 60px;
    width: 60px;
}
.div-compartilhamento>h4{
    font-family: var(--FontSora);
    font-size: 16px;
    color: var(--Colorfontm);
    text-align: center;
    padding-top: 15px;
}
.div-compartilhamento>p{
    font-family: var(--FontInter);
    font-size: 14px;
    color: var(--Colorfonth);
    text-align: center;
    padding-top: 15px;
}
.main-card3{
    background-color: var(--Colorbg);
    height: 420px;
    
}
.content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div1-card3>h1{
    font-family: var(--FontSora);
    font-size: 30px;
    text-align:start;
    color: var(--Colorfontm);
}
.div1-card3>p{
    font-family: var(--FontInter);
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--Colorfonth);
}
.divimg-card3>img{
    height: 60px;
    width: 120px;
}
.div2-card3{
    height: 400px;
    width: 400px;
}
.main-card4{
    height: 500px;
}
.main-card4>h1{
    font-family: var(--FontSora);
    font-size: 30px;
    text-align: center;
    color: var(--Colorfontm);
    padding-top: 30px;
}
.main-card4>p{
    font-family: var(--FontInter);
    font-size: 12px;
    text-align: center;
    color: var(--Colorfonth);
    padding-top: 10px;
    padding-bottom: 50px;
}
.planos-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-bronze{
    background-color: var(--Colorbg);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.div-bronze>h4{
    font-family: var(--FontSora);
    font-size: 18px;
    color: var(--Colorfontm);
    padding-top: 30px;
}
.div-bronze>img{
    height: 30px;
    width: 90px;
}
.div-bronze>p{
    font-family: var(--FontInter);
    font-size: 12px;
    color: var(--Colorfonth);
    text-align: center;
}
.div-bronze>button{
    background-color: var(--Colorbutton);
    border-radius: 16px;
    border: none;
    height: 30px;
    width: 150px;
    color: var(--Colorfontwhite);
    font-size: 12px;
    margin-bottom: 40px;
}
.div-prata{
    background-color: var(--Colorfontm);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.div-prata>h3{
    font-family: var(--FontSora);
    font-size: 18px;
    color: var(--Colorfontwhite);
    padding-top: 20px;
}
.button1{
    background-color: var(--Colorbutton);
    border-radius: 16px;
    border: none;
    height: 15px;
    width: 80px;
    color: var(--Colorfontwhite);
    font-size: 8px;
}
.div-prata>img{
    height: 70px;
    width: 90px;
    padding-bottom: 40px;
}
.div-prata>p{
    font-family: var(--FontInter);
    font-size: 12px;
    color: var(--Colorfonth);
    text-align: center;
    padding-bottom: 20px;
}
.button2{
    background-color: var(--Colorbutton);
    border-radius: 16px;
    border: none;
    height: 30px;
    width: 150px;
    color: var(--Colorfontwhite);
    font-size: 12px;
    margin-bottom: 40px;
    
}
.div-ouro{
    background-color: var(--Colorbg);
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}
.div-ouro>h4{
    font-family: var(--FontSora);
    font-size: 18px;
    color: var(--Colorfontm);
    padding-top: 30px;
}
.div-ouro>img{
    height: 30px;
    width: 90px;
}
.div-ouro>p{
    font-family: var(--FontInter);
    font-size: 12px;
    color: var(--Colorfonth);
    text-align: center;
}
.div-ouro>button{
    background-color: var(--Colorbutton);
    border-radius: 16px;
    border: none;
    height: 30px;
    width: 150px;
    color: var(--Colorfontwhite);
    font-size: 12px;
    margin-bottom: 40px;
}
.card-contato{
    background-image: url(../assets/images/Group\ 33554.png);
    height: 300px;
}
.content3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content3>h1{
    font-family: var(--FontSora);
    font-size: 30px;
    color: var(--Colorfontwhite);
    padding-top: 40px;
}
.content3>p{
    font-family: var(--FontInter);
    font-size: 14px;
    color: var(--Colorfontwhite);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}
.input-style{
    height: 30px;
    width: 350px;
    display: flex;
    justify-content:space-between ;
   
}
.input-style>input{
    background-color: transparent;
    border: none;
    border-bottom: solid;
    color: var(--Colorfontwhite);   
}
.input-style>::placeholder{
    color: white;
    font-size: 12px;
}
.input-style>button{
    height: 20px;
    width: 80px;
    background-color: var(--Colorbutton);
    border-radius: 16px;
    border: none;
    color: var(--Colorfontwhite);
    font-size: 12px;
}
.card-direitos{
    height: 50px;
    font-family: var(--FontSora);
    color: var(--Colorfontm);
    text-align: center;
    padding-top: 15px;
}

@media screen and (max-width: 410px) {

    .header-flex{
        padding: 5px;
    }
    .content{   
        height: 380px;
        width: 360px;
        flex-direction: column;
        
    }
    .content>article{
        width: 90%;
    }
    .content>article>h1{
        font-size: 24px;
        font-family: var(--FontSora);
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .content>article>button{
        height: 32px;
        width: 144px;
        border-radius: 16px;
        border: none;
        box-shadow: 2px 1px 10px var(--Colorfonth);
        font-family: var(--FontInter);
        font-size: 14px;
        font-weight: 500px;
        margin-top: 5px;
    }
    .content>img{
        height: 220px;
        width: 240px;
    }
    .conj-divs{
        height: 635px;
        display: flex;
        flex-direction: column;
    }
    .div2-card3>img{
        display: none;
    }

}